{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   {% block title %}<title>base</title> {% endblock %}

    <link rel="stylesheet" href='{% static "css/bootstrap.css" %}'>
    <link type="text/css" rel="stylesheet" href='{% static "css/style.css" %}'>

</head>
<body>
<header>
    <div class="container">
        <div></div>
         <nav class="n navbar navbar-expand-lg">
             <div class="nvb">
                  <h3><a class="navbar-brand" href="/">CRUD</a></h3>
             </div>


             <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#burger">
                 <span class="navbar-toggler-icon"></span>
             </button>

            <div class="menu collapse navbar-collapse justify-content-end" id="burger">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a href="/create/" class="nav-link active"><b>Create</b></a>
                        </li>
                          <li class="nav-item">
                             <a class="nav-link" href="/update/"><b>Update</b></a>
                         </li>
                          <li class="nav-item">
                             <a class="nav-link" href="/delete/"><b>Delete</b></a>
                         </li>
                     </ul>
            </div>
            </nav>
        <hr>

    </div>
</header>



<div class="container">
    {% block content %}
    <table class="container">
        <thead>
            <tr>
                <th>NAME</th>
                <th>AUTHOR</th>
                <th>PRICE</th>
                <th>CREATED</th>
                <th>UPDATED</th>
            </tr>
            </thead>

            {% for i in books %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.author}}</td>
                <td>{{i.price }}<span>р</span></td>
                <td>{{i.created_at|date:"d.m.y h:m"}}</td>
                <td>{{i.updated_at|date:"d.m.y h:m" }}</td>
            </tr>
            {% endfor %}
        </table>

   {% endblock %}
</div>

<footer>
    <div class="container">
        <div class="container fixed-bottom text-center ">
            <hr>
            <p><b>django</b> basic CRUD system</p>
         </div>
    </div>
</footer>

</body>
</html>
